.is-preformatted { white-space: pre-wrap; }

.dropdown-item.is-danger { color: #ff3860; }
.dropdown-item.is-danger:hover { color: white; background-color: #ff3860; }

.button.is-white { opacity: 0.4; }
.button.is-white:focus { border-color: #3273dc; box-shadow: 0 0 0 0.125em rgba(50,115,220,.25) !important; }
.button.is-white:hover { opacity: 1; background: none; }
.button.is-white.is-danger:hover { background-color: red; }

.subtitle + .input, .subtitle + .textarea { margin-top: 0.3em; }
.subtitle + .buttons { margin-top: 1em; }
.subtitle { cursor: default; }

.tabs { margin-bottom: 0 !important; }
.tabs + .tabs ul { border-bottom-color: transparent; }

.field.actions { margin-top: 2em; }

hr { margin: 0; }
code { color: black; }

.button.is-left { text-align: left; justify-content: left; align-items: start; }
.button.is-multiline { display: flex; flex-direction: column; flex-wrap: wrap; height: auto; }
.button-subtitle { display: flex; color: #aaa; font-size: 0.7em; }
.button-subtitle span { display: block; margin-right: 1em }

.books-marker { border-left: solid 5px peru; }
.books-button { border-color: peru; }
.terms-marker { border-left: solid 5px teal; }
.terms-button { border-color: teal; }
.topics-marker { border-left: solid 5px goldenrod; }
.topics-button { border-color: goldenrod; }
.questions-marker { border-left: solid 5px brown; }
.questions-button { border-color: brown; }

.admin-only { display: none; }
body.is-admin .admin-only { display: inline-block; }

.lock-icon { color: #ccc; position: absolute; right: 0.5em; }
.app-icon { margin-right: 0.5em; }
.app-title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 0;
}
.app-title:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0.2em;
  left: 3em;
  right: 3em;
  border: solid 1px lightgrey;
}
.main-content { min-height: 100vh; }

.nav-list { list-style: none; }
.nav-list li {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.nav-list li:hover { background-color: whitesmoke; }
.nav-list a { color: black }
.nav-list-link { padding: 0.5em; flex-grow: 1; }
.nav-list-link .tag { margin-right: 0.4em; }
.nav-list-link-add { margin-right: 0.4em; }
.nav-list-link-add:hover { background-color: teal; color: white; border-radius: 100%; }
.title-button { font-size: 1rem; color: black; vertical-align: top; }

.all-books-button { position: relative; margin: 1em; padding-left: 1.6em }
.all-books-button .fa { position: absolute; left: 0.4em; text-decoration: none; }

.login-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  /* background: rgba(255,255,255,0.9); */
}
.login-screen .button {
  margin: 1em;
}
.login-screen .fa-github {
  margin-left: 0.2em;
  font-size: 2em;
  line-height: 0em;
}
.login-screen.is-logged-in .fa-github {
  margin-left: 0;
}
.login-screen .username {
  margin: 0 0.2em 0 0.4em;
}

.incomplete-icon {
  border: 0;
  color: #aaa;
  cursor: pointer;
  font-size: 0.5em;
  vertical-align: top;
}
.incomplete-icon.active {
  color: firebrick;
}

.error-message-full-page { margin: 1em; text-align: center; }
