.is-preformatted { white-space: pre-wrap; }

.dropdown-item.is-danger { color: #ff3860; }
.dropdown-item.is-danger:hover { color: white; background-color: #ff3860; }

hr { margin: 0; }

.terms-marker { border-left: solid 5px teal; margin-left: 0.2em; }
.terms-button { border-color: teal; }
.topics-marker { border-left: solid 5px goldenrod; margin-left: 0.2em; }
.topics-button { border-color: goldenrod; }
.questions-marker { border-left: solid 5px brown; margin-left: 0.2em; }
